.App {
  text-align: center;
}

header {
  width: 100%;
  height: 200px;
  border-bottom: gray 2px solid;
}
.logo {
  height: 50%;
  margin: 30px auto;
}

.theTeam{
  margin: 0;
}

.container {
  border: black 1px solid;
  margin-top: 30px;
}

.season {
  border-top: #0f0f0f 1px dashed;
}

.squad {
  display: flex;
  justify-content: space-evenly;
}

.matches {
  display: flex;
  justify-content: space-around;
}